@model Backend.Models.Estilo

@{
    Layout = "~/Views/Shared/_LayoutBackUser.cshtml";
    ViewBag.Title = "Estilo";
}


<div class="col-md-12 contendor-admin-user">

    <div class="col-md-12 titulo-componentes-user">
        <a href="@Url.Action("index", "TiendaVirtual")" class="btn btn-default"><span class="fa fa-arrow-left fa-2x"></span></a><h1>Editor Estilo</h1>
    </div>
    <div class="col-md-12 contenido-componentes-user">
        @using (Html.BeginForm("Estilo", "TiendaVirtual", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                <div class="form-group">
                    @*Html.LabelFor(model => model.texto, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="file" id="texto" name="texto"/>
                            @Html.ValidationMessageFor(model => model.texto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<textarea id="code" name="texto">
body {
background: black;
padding-top: 50px;
padding-bottom: 20px;
}

h1 {
font-size: 14px;
}
                </textarea>*@
            <div class="col-md-10">
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-default btn-estilo-1" />
                </div>
            </div>
        }
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

<script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
<script src="~/Scripts/codemirror-2.37/mode/css/css.js"></script>
