@{
    ViewBag.Title = "Che-Bay :: eCommerce en dos click - Inicio";
}

<section class="contenido-principal-index">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 texto-index text-center">
                <h1>¡Crea tu tienda virtual online de manera totalmente gratis, con una de las mejores herramientas del mercado!</h1>
                <h3>Las mejores tiendas virtuales del mercado usan Che-Bay.</h3>
            </div>
            <div class="col-md-12 text-center btnes-index">
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-default">Crea tu tienda virtual!</button>
                <button type="button" onclick="location.href='@Url.Action("Register", "Account" )'" class="btn btn-default">Soy nuevo en Che-Bay!</button>
            </div>
        </div>
    </div>
</section>

<section class="frase-index">
    <div class="container contenedor-frase">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 frase-texto-index">
                <h1>Vende cualquier cosa</h1>
                <p>Che-Bay es una plataforma con la cual vas a poder crear una tienda virtual para cualquier tipo de producto.</p>
                <p>Ya se trate de camisetas en todas sus formas y tamaños, archivos de música, software o antiguedades. Todo es posible.</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="~/img/1.png" alt="">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="~/img/2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="aplicacion"></section>
<section class="aplicacion-index">
    <div class="container contenedor-aplicacion">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Todas las funcionalidades del e-Commerce</h1>
                <h3>Aumentar las ventas con la comercialización en línea.</h3>
            </div>
            <div class="col-md-12" style="padding-bottom:20px;">

                <div class="col-md-6">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-shopping-cart"></i>
                        <h4>Inventario</h4>
                        <p>Administre fácilmente sus productos. Puede agregar productos geolocalizados con difrerentes tipos de propiedades.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-picture-o"></i>
                        <h4>Diseño de su sitio</h4>
                        <p>Puede editar el diseño de su sitio online con el editor de estilo.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-12">

                <div class="col-md-6">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-cc-paypal"></i>
                        <h4>Pagos</h4>
                        <p>Viene equipada con PayPal (para la aceptación de tarjetas de crédito y pagos de la cuenta de PayPal), BACS, y contra reembolso. También tenemos un montón de extensiones específicas de pasarela de pagos.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-bar-chart"></i>
                        <h4>Reportes</h4>
                        <p>Mantenga una vista de pájaro de las ventas entrantes y usuarios en el sitio, los niveles de existencias , todo desde su backend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tecnologias-index">
    <div class="container contenedor-tecnologias">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Las ultimas tecnologias utilizadas en el mercado, con diseños innovadores y adaptables.</h3>
            </div>
            <div class="col-md-12 text-center marcas-tecnologias-index">
                <i class="fa fa-html5"></i>
                <i class="fa fa-css3"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-paypal"></i>
                <i class="fa fa-windows"></i>
                <i class="fa fa-facebook-square"></i>
            </div>
            <div class="col-md-12"></div>
        </div>
    </div>
</section>

<section id="equipo"></section>
<section class="equipo-index">
    <div class="container contenedor-equipo">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Nuestro Equipo</h1>
                
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/gas.jpg" class="img-responsive img-circle" alt="">
                        <h4>Gastón Baldenegro</h4>
                        <span class="label label-default">Programador</span>
                        <ul class="list-inline social-buttons" style="margin-top:10px;">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/alamon.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ignacio Alamon</h4>
                        <span class="label label-default">Programador</span>
                        <ul class="list-inline social-buttons" style="margin-top:10px;">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/castro.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ignacio Castro</h4>
                        <span class="label label-default">Programador</span>
                        <ul class="list-inline social-buttons" style="margin-top:10px;">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/misa.jpg" class="img-responsive img-circle" alt="">
                        <h4>Misael Mallada</h4>
                        <span class="label label-default">Programador</span>
                        <ul class="list-inline social-buttons" style="margin-top:10px;">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contacto">
    <div class="container" id="contact" name="contact">
        <div class="row">
            <div class="col-lg-5">
                <br>
                <img src="img/logo2.png" class="img-responsive">
                <br>
                <div class="col-lg-12">
                    <h3>Información</h3>
                    <p>
                        <span class="fa fa-home"></span> Montevideo, UY<br />
                        <span class="fa fa-phone"></span> 099 394 334 <br />
                        <span class="fa fa-envelope"></span> <a href="#"> tsi2015gr11@gmail.com</a> <br />
                    </p>
                </div><!-- col -->
            </div>
            <div class="col-lg-7" style="margin-top:20px;">
                <blockquote>
                    <h3>Sobre Nosotros</h3>
                    <em>Proyecto TSI .NET año 2015, aplicacion para crear tiendas virtuales dinamicamente, desarrollado con .NET, bootstrap, jquery, azure, mongo, etc.</em>
                    <em>Contiene funcionalidades avanzadas como edicion de estilo, imagenes blobs en azure, mutitenant, bases de datos no relacionales (mongo db).Este proyecto fue realizado por el Grupo 11 de Tecnologo.</em>
                </blockquote>
            </div><!-- col -->

            </div><!-- row -->

    </div><!-- container -->
</section>
<footer>
    <div id="footerwrap">
        <div class="container text-center">
            <h4>Creado por Grupo 11 - Copyright 2015</h4>
        </div>
    </div>   
</footer>