<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="Nlog.log">
  <targets>
    <target name="logfileTargetName" xsi:type="File"   layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}__${message} ${exception:format=message,stacktrace:separator=*"
    fileName="Log_Sitio.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfileTargetName"/>
  </rules>
</nlog>