
@{
    ViewBag.Title = "GetCategoriasFilters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetCategoriasFilters</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="button" value="Get Subastas" class="btn btn-primary" data-bind="click:search" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <label>Total Customers: </label>
        </div>
        <div class="col-md-2">
            <strong data-bind="text:customersViewModel.totalCustomers"></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Items by page: </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" data-bind="options: customersViewModel.itemsByPage, value:customersViewModel.rows"></select>
        </div>
        <div class="col-md-4">
            <select class="form-control" data-bind="options: customersViewModel.itemsTipos, value:customersViewModel.tipos"></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Ingrese su texto" data-bind="value:customersViewModel.buscar" />
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="min" data-bind="value:customersViewModel.min" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="max" data-bind="value:customersViewModel.max" />
            </div>
        </div>
        <input type="text" class="form-control" placeholder="max" value="ViewBag.idCat" data-bind="value:customersViewModel.idCat" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination" data-bind='foreach: customersViewModel.listPages'>
                <li data-bind="css:{active: customersViewModel.currentPage() == $index()}"><a data-bind="text: $index() + 1, click:customersViewModel.changePage"></a></li>
            </ul>
        </div>
    </div>
    <table id="tblData" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody data-bind='foreach: customersViewModel.customerList'>
            <tr>
                <td valign="top" data-bind="text: id"></td>
                <td valign="top" data-bind="text: titulo"></td>
                <td valign="top" data-bind="text: precio_Compra"></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <a href="" target="_blank">@@julitogtu</a>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>


<script>
    var searchService = {
        serviceUrl: "/subasta/getcategoriasfiltersp/",
        getCustomers: function (data) {
            var options = {
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: this.serviceUrl,
                data: data,
            };
            return $.ajax(options);
        }
    }

    var customersViewModel = {
        totalPages: ko.observable(),
        currentPage: ko.observable(0),
        listPages: ko.observableArray(),
        totalCustomers: ko.observable(),
        customerList: ko.observableArray(),
        itemsByPage: ko.observableArray([10, 20, 30]),
        itemsTipos: ko.observableArray([0, 1, 2]),
        rows: ko.observable(),
        tipos: ko.observable(),
        buscar: ko.observable(),
        min: ko.observable(),
        max: ko.observable(),
        idCat: @ViewBag.idCat,
        search: function () {
            var data = {
                idCat: this.idCat,
                SearchString: this.buscar(),
                Tipo: this.tipos(),
                min: this.min(),
                max:this.max(),
                page: this.currentPage(),
                rows: this.rows()
            };
            searchService.getCustomers(data)
                .success(function (response) {
                    console.log(response);
                    if (response.Results.length > 0) {
                        customersViewModel.customerList(response.Results);
                        customersViewModel.totalCustomers(response.TotalRows);
                        customersViewModel.listPages.removeAll();
                        for (var i = 1; i <= response.TotalPages; i++) {
                            customersViewModel.listPages.push(i);
                        }
                    }
                })
                .fail(function () {
                    alert('Error');
                }
            );
        },
        changePage: function (page) {
            customersViewModel.currentPage(page - 1);
            customersViewModel.search();
        }
    }

    ko.applyBindings(customersViewModel);
</script>
