@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700|Source+Sans+Pro:200,300,400);

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url(../img/fondo.jpg) no-repeat fixed;
}
.contenedor-total{

}
.borde{
  border: 1px solid red;
}
.borde1{
  border: 1px solid blue;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}

/*----------------- HEADER ---------------------*/
/*----------------------------------------------*/

.contenedor-navbar{
  padding-left: 0 !important;
  background-color: rgba(39,39,39,0.4)  !important;

}
.navbar-default{
  height: 60px;
  background-color: transparent !important;
  border-color: white !important;
}

.contenedor-navbar{
  height: 60px !important;
}

.navbar-header{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*height: 59px !important;*/
  /*width: 195px;*/
  background-color: rgba(39,39,39,0.4) !important;
}

#collapse-1{
  background-color: transparent !important;
  height: 60px !important;
}
.navbar-header a{
  margin-left: 0 !important;

}
.contenedor-upload {
    background-color: rgba(0,0,0,0.5);
    padding-top:20px;
    padding-bottom: 20px;
}
.contenedor-img-upload {
    margin-top:10px;
}
.menu-top li a{
  color: white !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
    line-height: 19px !important;
}

.menu-top span{
  font-size: 29px;
}
.menu-top span:hover{
  color: #0294C4;
}

.btn-manu{
  background-color: rgba(39,39,39,0.7) !important;
}
.btn-manu span:hover{
  color: #0294C4;
}

.drop-left{
  padding: 0px 0px !important;
}
.drop-left li a{
  color: #272822 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.drop-left:before 
{
    content: "";
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 30px;
    margin-left: -10px;
    z-index: 10;
}
.navbar-brand{
  color: white !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 24px !important;
}

.buscador{
  padding: 0px 0px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-left-color: transparent !important; 
}
.buscador input{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: transparent !important;
  color: white;
  border-bottom: none;
  border-top: none;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  height: 60px;
  font-size: 20px;
}

.buscador input:focus{
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  box-shadow: none !important;
  border-color: white;

}
.buscador input-placeholder {
   color: #20241C !important;
}

.boton-buscador button{
  height: 60px !important;
  border-bottom: none;
  border-top: none;
}

.btn-msj:focus{
  color: #0294C4 !important;
}

.btn-search{
  background-color: transparent !important;
  color: white !important;
  outline:none !important;
  outline-offset: 0px !important;

  border-left-color: white !important;
  border-right-color: transparent !important;
}

.btn-search span{
  font-size: 25px;
}

.btn-search:hover{
  background: none !important;
  color: #0294C4 !important;
  box-shadow: none !important;
  outline:none !important;
  outline-offset: 0px !important;
  border-bottom: none;
  border-top: none;
  border-right-color: transparent !important;

}

.btn-search:focus{
  background: none !important;
  box-shadow: none !important;
  border-bottom: none;
  border-top: none;
  border-right-color: transparent !important;
}

.menu-top-right li a{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.btn-setting{
  font-size: 29px;
}

.btn-setting:hover{
  color: #0294C4 !important;
}
.btn-setting:focus{
  color: #0294C4 !important;
}
.dropdown-menu{
  background-color: #DEDEDE !important;
}

.dropdown-menu li a:hover{
  background-color: rgba(39,39,39,0.4) !important;

}

.drop-right{
  padding: 0px 0px !important;
}

.drop-right li a{
  color: #272822 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.drop-right:before 
{
    content: "";
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 20px;
    margin-left: -10px;
    z-index: 10;
}

.drop-titulo{
  padding-top: 8px;
  padding-bottom: 1px;
  color: white;
  background-color: black;
}
.dropdown-toggle{
  color: white !important;
}
.dropdown-toggle:focus{
  background-color: transparent !important;
}

.btn-cerrarsesion i{
  color: white !important;
  font-size: 30px;
}

.btn-cerrarsesion i:hover{
  color: #0294C4 !important;
}
.btn-cerrarsesion:focus{
  color: #0294C4 !important;
}

.badge{
  border-radius: 10px !important;
  background-color: #0294C4 !important;
}

/*----------------- FIN - HEADER ---------------------*/
/*----------------------------------------------------*/


/*----------------- MENU ---------------------*/
/*----------------------------------------------------*/


#sidebar {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 60px;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: rgba(39,39,39,0.4);
    /*background-color:transparent;*/
}

.perfil{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(39,39,39,0.4);
}

.perfil img{
  width: 140px;
  height: 140px;
}

.perfil h3,.perfil h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

.perfil ul li{
  list-style-type: none;
  display: inline-block;
}

.perfil ul li a{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

/*sidebar*/
#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT ICONO*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.dcjq-icon:before{
  content: "\f104";
}
.active .dcjq-icon {
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.active .dcjq-icon:before{
  content: "\f107";
}


.nav-collapse.collapse {
    display: inline;
}



.titulo_menu_left{
    padding: 10px 5px 5px 10px;
}
.titulo_menu_left span{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 22px;
  line-height: 20px;
  padding: 0 11px;
  left: 10px;
  position: relative;
  font-size: 18px;
  color: white;
}
.titulo_menu_left i{
  color: white;
  font-size: 18px;
  font-style: normal;
  left: -5px;
  line-height: 15px;
  position: relative;
  width: 20px;
  top: 5px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
      font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
  margin-top: 10px;
  background-color:rgba(39,39,39,0.5); 
  margin-left:10px;
  margin-right:10px;
}

ul.sidebar-menu li ul.sub li{
    background: rgba(39,39,39,0.7);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{

}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
  color: white;
  background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}



ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    /*color: #aeb2b7;*/
    text-decoration: none;
    display: block;
    padding: 15px 10px 15px 30px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    color: #FFFFFF !important;

    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    text-transform: capitalize;

}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: rgba(39,39,39,0.7);
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}

.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}

/*----*/

ul.sidebar-menu-fixed , ul.sidebar-menu-fixed li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu-fixed {

}

ul.sidebar-menu-fixed li ul.sub li{
    background: rgba(39,39,39,0.7);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu-fixed li ul.sub li:last-child{

}

ul.sidebar-menu-fixed li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu-fixed li ul.sub li a:hover {
  color: white;
  background: transparent;
}

ul.sidebar-menu-fixed li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu-fixed li{
    /*line-height: 20px !important;*/
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
}

ul.sidebar-menu-fixed li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu-fixed li a span{
    display: inline-block;
}

ul.sidebar-menu-fixed li a{
    /*color: #aeb2b7;*/
    text-decoration: none;
    display: block;
    padding: 15px 10px 15px 30px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    color: #FFFFFF !important;

    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    text-transform: capitalize;

}

ul.sidebar-menu-fixed li a.active, ul.sidebar-menu-fixed li a:hover, ul.sidebar-menu-fixed li a:focus {
    background: rgba(39,39,39,0.7);
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu-fixed li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu-fixed li a:hover i, ul.sidebar-menu-fixed li a:focus i {
    color: #fff;
}

ul.sidebar-menu-fixed li a.active i {
    color: #fff;
}


/*----------------- FIN - MENU ---------------------*/
/*----------------------------------------------------*/

/*----------------- MAIN CONTENT ---------------------*/
/*----------------------------------------------------*/

.main-content{
  /*padding-top: 70px;*/
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  /*margin-left: 250px;*/
  background-color: transparent;
  min-height: 800px;
}

/*----------------- FIN - MAIN CONTENT ---------------------*/
/*----------------------------------------------------------*/


/*----------------- FOOTER ---------------------*/
/*----------------------------------------------------*/

.footer {
    /*margin-left: 250px;*/
    min-height: 60px;
    padding: 0 15px;
    bottom: 0px;
    background: rgba(39,39,39,0.2);
    color: #fff;
    padding: 10px 0;
}

.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #2A3542;
}

/*----------------- FIN - FOOTER ---------------------*/
/*----------------------------------------------------------*/

/*----------------- ANIMACIONES ---------------------*/
/*----------------------------------------------------*/



/*----------------- FIN - ANIMACIONES ---------------------*/
/*----------------------------------------------------------*/

/*----------------- OTROS ---------------------*/
/*----------------------------------------------------*/



/*----------------- FIN - OTROS ---------------------*/
/*----------------------------------------------------------*/

/*----------------- LOGIN ---------------------*/
/*----------------------------------------------------*/

.login-contenedor{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(39,39,39,0.2);
  padding-bottom: 30px;
  margin-top: 70px;
}
.login-contenedor h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.contenido-login{
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  /*background-color: rgba(2,148,196,0.5);*/

}
.contenido-login img{
  margin-top: 10px;
  width: 250px;
}
.btn-home {
    position:absolute;
    top:5px;
    right:5px;
    color:rgba(39,39,39,0.7);
    text-decoration:none;
}
.btn-home:hover {
    color:white;
    text-decoration:none;
}

.form-login input[type="text"]{
    color: white !important;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.25);
  height: 45px;
}

.form-login input[type="password"]{
    color: white !important;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.25);
  height: 45px;
}

.form-login input:focus{
  background-color: rgba(0, 0, 0, 0.25)  !important;
  border-color: rgba(255, 255, 255, 0.25)  !important;
  box-shadow: none !important;
}

.form-login .input-group-addon{
  color: white;
  background-color: rgba(0, 0, 0, 0.25)  !important;
  border-color: rgba(255, 255, 255, 0.25)  !important;
}
.input-group{
  padding-bottom: 10px;
}

.btn-reg-login {
   color: rgba(39,39,39,0.7) !important;
   text-decoration:none;
}

.btn-reg-login:hover {
   color: white !important;
   text-decoration:none;
}

.sector_enviar{
  padding-top: 20px;
}

.checklogin label{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.checklogin input {
    margin: 5px 5px 0 !important;
}

.btn-login{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  color: rgba(39,39,39,0.7) !important;
  /*border-color: #0294C4 !important; */
  border-color: transparent !important; 
  background-color: rgba(39,39,39,0.1) !important; 
  height: 50px !important;
  width: 390px !important;

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-login:hover{
  color: white !important;
  /*border-color: #0294C4 !important; */
  border-color: #0294C4 !important; 
  background-color: #0294C4 !important; 

}


.btn-face{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  color: rgba(160, 157, 157, 0.70) !important;
  /*border-color: #0294C4 !important; */
  border-color: transparent !important; 
  background-color: rgba(5, 5, 69, 0.5) !important; 
  height: 50px !important;
  width: 390px !important;

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-face:hover{
  color: white !important;
  /*border-color: #0294C4 !important; */
  border-color: rgba(5, 5, 69, 1) !important; 
  background-color: rgba(5, 5, 69, 1) !important; 

}
/*----------------- FIN - LOGIN ---------------------*/
/*----------------------------------------------------------*/

/*----------------- INDEX ---------------------*/
/*----------------------------------------------------------*/

.navbar-header-index{
  background-color: transparent !important;
}
.menu-index{
  margin-top: 20px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-index li a{
  letter-spacing: 2px;
  color: white !important;
}
.menu-index li a:hover{
  color: #E22929 !important;
}
.logo-index{
  padding: 0 !important;
}
.logo-index img{
  width: 250px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-chebay{
  border-color:transparent !important;
  background-color: transparent !important;
  height: 90px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


.navbar-chebay.activo{
  height: 60px;
  background-color: black !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.activo.logo-index img{
  width: 150px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.activo.menu-index{
  margin-top: 0px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.contenido-principal-index{
  height: 650px;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/fondo-index.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;
}
.texto-index{
  letter-spacing: 1px;
  margin-top: 120px;
  color: white;
  margin-bottom: 50px;
}

.texto-index h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  font-size: 46px;
  margin-bottom: 16px;
  text-shadow: 0 1px 1px #433A3A;
}

.texto-index h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}
.btnes-index{
  margin-top: 30px;
}
.btnes-index button:hover{
  border: 2px solid #E22929 !important;
  background-color: transparent !important;
  color: white !important;
} 
.btnes-index button{
  color: white !important;
  border-color: #E22929 !important;
  background-color: #E22929 !important;
  font-weight: bold !important;
  
  margin-left: 10px;
  width: 200px;
  height: 50px;
} 


.frase-index{
  background-color: #E22929;
  color: white;
}

.contenedor-frase{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  padding-top: 70px;
  padding-bottom: 20px;
}

.contenedor-frase h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 48px;
    padding-bottom: 15px;
}
.contenedor-frase img{
  width: 300px;
}
.contenedor-frase p{
  letter-spacing: 1px;
}

.aplicacion-index{
  background-color: #FFFFFF;
}
.aplicacion-index h1{

}
.aplicacion-index h3{
  margin-top: 0px;
  color: #8B8989;
  padding-bottom: 50px;
}

.aplicacion-index i{
  font-size: 55px;
  color: #E22929;
}

.contenedor-aplicacion{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  padding-top: 70px;
  padding-bottom: 60px;
}

.contenedor-aplicacion h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  font-size: 48px;
}

.contenedor-aplicacion h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}

.tecnologias-index{
 /* background-color: #f8f9fb;*/
  background-color: #333740;

}

.contenedor-tecnologias{
  padding-top: 30px;
  padding-bottom: 30px;
}

.contenedor-tecnologias h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: #C6C2C2;
}
.marcas-tecnologias-index{
  padding-top: 20px;
}
.marcas-tecnologias-index i{
  color: #C6C2C2;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.equipo-index{
  background-color: #E22929;
}
.contenedor-equipo {
    color: white !important;
    padding-top:40px;
    padding-bottom:20px;
}
.contenedor-equipo h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
.contacto-index{
  background-color: white;
  height: 700px;
}

/*.footer-site{
  background-color: #333740;
  height: 400px;
}*/



/*----------------- FIN - INDEX ---------------------*/
/*----------------------------------------------------------*/




/*---- USER ADMIN ----*/


/*NUEVOS*/

#logoutForm>.datos-user{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration:none;
  padding:20px !important;
  margin-top:5px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.menu-top-right-user li a{
  padding-top: 20px !important;
  padding-bottom: 19px !important;
}

.drop-right-user{
  width: 250px !important;
  padding: 0px 0px !important;
}

.drop-right-user li a{
  color: #272822 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.drop-right-user:before 
{
    content: "";
    border-bottom: 10px solid #1870C7;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 125px;
    margin-left: -10px;
    z-index: 10;
}

.drop-titulo-user{
  padding-top: 8px;
  padding-bottom: 1px;
  color: white;
  background-color: #1870C7;
}

.drop-titulo-user img{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border: 1px solid white;
}

.drop-right-user li a span{
  padding-right: 10px; 
}

.main-content-user{

  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/fondouser51.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;

  min-height: 800px;
}

.contendor-admin-user{
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.navegador-user{
  background-color: transparent !important;
  border-color: transparent !important;
}

.contenedor-navbar-user{
  height: 60px !important;
  padding-left: 0 !important;
  background-color: rgba(51,55,64,.9) !important;
}
.contenedor-navbar-user .navbar-header .navbar-brand{
    height:60px !important;
}
.imagen-logo-user{
  background-color: rgba(0,0,0,.5) !important;
}

.imagen-logo-user img{
  width: 400px;
}
.imagen-logo-user h2,.imagen-logo-user h4{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: white !important;
}

.navbar-default{
  border-color: transparent !important;
}

.panel-info-user{
  padding:20px;

  background-color: #E22929 !important;
}

.panel-info-user h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: white !important;
}

.btn-creartienda{
  padding-left: 0px !important;
  margin-top: 10px;
}
.btn-creartienda a{
  padding: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.btn-creartienda a p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.jumbotron{
  padding-bottom: 29px !important;
}

.shape{    
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer{
  background:#fff; 
  border:1px solid #ddd; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow:hidden;
}
.offer:hover {
    /*-webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1);*/ 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}
.offer-danger { border-color: #E22929; }
.offer-danger .shape{
  border-color: transparent #E22929 transparent transparent;
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.shape-text{
  color:#fff; 
  font-size:12px; 
  font-weight:bold; 
  position:relative;
  right:-60px;  
  top:2px; 
  white-space: nowrap;
 /* -ms-transform:rotate(30deg);
  -o-transform: rotate(360deg);   
  -webkit-transform:rotate(30deg); 
  transform:rotate(30deg);*/
}
.shape-text h5{
  padding-top: 0px;
  padding-bottom: 0px;
}

.close{
  color: white !important;   
}

.offer-content{
  padding:0 20px 10px;
}
.offer-footer{
  background-color: #E22929;
  padding: 10px;
}
.offer-footer a{
  margin-left: 15px;
}

.offer-footer a span{
  color: white !important;
}

.offer-footer a span:hover,.offer-footer a span:focus{
  color: #333740 !important;
}

.shop-user{
  padding-left: 0px !important;
}


/*---- COMPONENTES ----*/
.titulo-componentes-user{

  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0,0,0,0.5);
}
.titulo-componentes-user h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: white !important;
  font-size: 52px;
}
.contenido-componentes-user{
  margin-top: 10px;
  padding-left: 0px !important;
}
.titulo-componentes-user>h1{
  display: inline-block;
}
.titulo-componentes-user>a{
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.titulo-componentes-user>span>a{
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.titulo-componentes-user>a:hover{
  background-color: transparent;
  border: 2px solid #E22929;
  color: #E22929;
}
/*.titulo-componentes-user>h1{
  display: inline-block;
}
.titulo-componentes-user>a{

}
.titulo-componentes-user>a>span{
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 70%;
  color: white;
}
.titulo-componentes-user>a>span:hover{
  border: 2px solid #E22929;
  color: #E22929;
}*/

.contenido-componentes-user>.nav-tabs{
  border-bottom: none !important;
}
.contenido-componentes-user>.nav-tabs>li>a{
  background-color: white !important;
  padding:20px !important;
}
.contenido-componentes-user>.nav-tabs>.active a{
  background-color: #E22929 !important;
  border-color: #E22929 !important;
  color: white !important;
}
.contenido-componentes-user>.tab-content{
    margin-top: 10px;
}
.CodeMirror { 
  
}

.btn-estilo-1 {
    margin-top:10px;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}


/*---------------- ADMIN PANEL-------------------*/

.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
       -moz-border-radius-topleft:5px;
       -moz-border-radius-topright:5px;
       -moz-border-radius-bottomright:0;
       -moz-border-radius-bottomleft:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
       -moz-border-radius-topleft:0;
       -moz-border-radius-topright:0;
       -moz-border-radius-bottomright:5px;
       -moz-border-radius-bottomleft:5px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
    border-top:0
}

.alert-group > .alert > .close {
    color:black !important;
}



.list-img .panel { position: relative; overflow: hidden; display: block; border-radius: 0 !important;  }
.list-img .panel-default { border-color: #ebedef !important; }
.list-img .panel .panel-body { position: relative; padding: 0 !important; overflow: hidden; height: auto; }
.list-img .panel .panel-body a { overflow: hidden; }
.list-img .panel .panel-body a img { display: block; margin: 0; width: 100%; height: auto; 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
.list-img .panel .panel-body a.zoom:hover img { transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); -o-transform: scale(1.3); -moz-transform: scale(1.3); }
.list-img .panel .panel-body a.zoom span.overlay { position: absolute; top: 0; left: 0; visibility: hidden; height: 100%; width: 100%; background-color: #000; opacity: 0; 
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}     
.list-img .panel .panel-body a.zoom:hover span.overlay { display: block; visibility: visible; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; }  
.list-img .panel .panel-body a.zoom:hover span.overlay i { position: absolute; top: 45%; left: 0%; width: 100%; font-size: 2.25em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
.list-img .panel .panel-footer { padding: 8px !important; background-color: #f9f9f9 !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important; }	
.list-img .panel .panel-footer h4 { display: inline; font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e margin: 0 !important; padding: 0 !important; }
.list-img .panel .panel-footer i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
.list-img .panel .panel-footer i.glyphicon-thumbs-up { color: #1abc9c; }
.list-img .panel .panel-footer i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
.list-img .panel .panel-footer div { width: 15px; display: inline; font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e; text-align: center; background-color: transparent !important; border: none !important; }







/* ---- RESPONSIVE ----*/
@media (min-width: 1200px) {
    .contenedor-navbar .navbar-header{
      height: 59px !important;
      width: 250px;
    }
    .main-content{
      padding-top: 60px;
      margin-left: 250px;
    }
    .footer {
        margin-left: 250px;    
    }
}

/* md */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .logo-index img{
      width: 250px !important;
  
    }

    .contenedor-navbar .navbar-header{
      height: 59px !important;
      width: 250px;
    }
    .main-content{
      padding-top: 60px;
      margin-left: 250px;
    }
    .footer {
        margin-left: 250px;    
    }
}


@media (min-width: 768px) and (max-width: 991px) {

.logo-index img{
  width: 250px !important;
}

    .zoom img {
        width:100px; 
        height:100px;
    }
    .contenedor-navbar .navbar-header{
      height: 59px !important;
      width: 250px;
    }
    .navbar-header{
      height: 59px !important;
      width: 250px;
    }
    .main-content{
      padding-top: 60px;
      margin-left: 250px;
    }
    .footer {
        margin-left: 250px;    
    }   

}


@media screen and (max-width: 767px) {
.logo-index img{
  width: 190px !important;

}
.navbar-header-index,.menu-index {
    background-color:rgba(0,0,0,0.5) !important;
}
.menu-index {
    padding-top:0px !important;
}

 .texto-index h1 {
    font-size:20px;
 }
 .texto-index h3 {
    font-size:20px;
 }
 .btnes-index button{
        margin-bottom:10px;
 }
    .frase-texto-index h1 {
        font-size:25px !important;
        text-align:center;
    }
    .frase-texto-index img {
        margin-bottom:10px;
    }
    .menu-top-right-user{
        overflow:visible !important;
        background-color:rgba(0,0,0,0.5);
        text-align:center;
    }
    .menu-top-right-user a {
            text-decoration:none;
        }
        .menu-top-right-user a:focus {
            background:transparent;
        }
        .menu-top-right-user a:hover {
            text-decoration:none;
            padding-top:10px;
            padding-bottom:10px;
        }
    .dropdown {
        overflow:visible !important;
    }
    #collapse-1 {
        overflow:visible !important;
        background-color:rgba(0,0,0,0.5) !important;
        text-align:center;
    }

    .drop-right-user {
        margin-left:150px;
    }
    .drop-right-user:before 
    {   
    
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;

    }
.main-content{
  padding-top: 60px !important;
  margin-left: 0px !important;
}
.footer {
    margin-left: 0px;    
}
    
#sidebar {
    background-color: rgba(39,39,39,0.9) !important;
    z-index:1000;
}



}

@media screen and (max-width: 480px) {
    .logo-index img{
      width: 190px !important;

    }
    .navbar-header-index,.menu-index {
        background-color:rgba(0,0,0,0.5) !important;
    }
    .texto-index h1 {
        font-size:20px;
     }
    .texto-index h3 {
        font-size:20px;
     }
    .btnes-index button{
        margin-bottom:10px !important;
    }

    .frase-texto-index h1 {
        text-align:center;
        font-size:25px !important;
    }
    .frase-texto-index img {
        margin-bottom:10px;
    }

    .menu-top-right-user{
        overflow:visible !important;
        background-color:rgba(0,0,0,0.5);
        text-align:center;
        text-decoration:none;
    }
    .menu-top-right-user a {
        text-decoration:none;
    }
    .menu-top-right-user a:focus {
        background:transparent;
    }
    .menu-top-right-user a:hover {
        text-decoration:none;
        padding-top:10px;
        padding-bottom:10px;
    }
    .dropdown {
        overflow:visible !important;
    }

    #collapse-1 {
        overflow:visible !important;
        background-color:rgba(0,0,0,0.5) !important;
        text-align:center;
    }

    .drop-right-user {
        margin-left:70px;
    }
    .drop-right-user:before 
    {   
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }



}





.team-member{text-align:center;margin-bottom:50px}
.team-member img{height: 200px;width: 200px; margin:0 auto;border:4px solid #fff}
.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}
.team-member p{margin-top:0}
ul.social-buttons{margin-bottom:0}
ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;border:1px solid #222;-moz-transition:all .3s;transition:all .3s}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#E22929;border:1px solid #222;}

#contacto{
    background-color: #333740;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    padding-bottom:20px;
}
#contact h3 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
#contact p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
#contact img{
    width: 300px;
    -webkit-filter:grayscale(1);/* Chrome y Safari */
    -moz-filter:grayscale(1);/* Mozilla */
    -ms-filter:grayscale(1);/* Internet Explorer */
    -o-filter:grayscale(1);/* Opera */
}
#footerwrap{
    
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(39,39,39,1);
}
#footerwrap h4 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.errores{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    font-size: 14px;
    margin-top: -50px;
    margin-left: 180px;
    padding: 10px;
    position: absolute;
    z-index:2000;
}