@model IEnumerable<Crosscutting.EntityTenant.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
    </tr>
</table>
